.form-container{
  padding: 10px;
}

.form-row{
  display: flex;
  gap: 10px;
  padding: 5px;
  mat-form-field{
    width: 100%;
  }
}

.action{
  padding: 0px 25px 20px;
  display: flex;
  .button{
    flex: 1;
  }
}
